---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		For over 20 years, I have been involoved in the development of software for the web using various technologies. I am currently the Engineering Manager/Technology Lead of a UK-based Accountancy-based cloud platform, The Accountancy Cloud.
	</p>

	<p>
		Over the years, I have acquired various skills and competencies that has placed me in different roles as Web developer, Lead Developer, DevOps as well as serving on the board of a company as CTO. I have always seen myself more as a solutions provider rather than as a software engineer because I focus on solutions and processes. In many cases, developing an application is usually the solution needed but in other cases, what is needed is more of process improvement.

Most of my Web development career has been PHP-based and I have been using PHP since it was in version 4. I have also worked with several PHP Frameworks including Zend Framework, Symfony, CodeIgniter, Laravel as well as Microframeworks like Silex, Slim and Lumen.
	</p>

	<p>
		Apart from working with PHP, I try to learn or re-visit one language/framework every year and this has enabled me to acquire knowledge of languages like Java, Go, Dart, Flutter, Python and JavaScript. In 2019, I decided to pick up some mobile development knowledge leading to the development of a Shopping App to be released early 2020.
	</p>

	<p>
		On the DevOps side, I have acquired experience over the years with building and provisioning servers both on-premises and in the cloud. Most of my cloud working experience has been with Amazon Web Services although I ocassionally have some knowledge of Google Compute and Microsoft's Azure. In 2023, I decided to get certified in AWS and I am currently an AWS Certified Solutions Architect - Associate.
	</p>

</Layout>
